<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance</title>
    </head>
    <body>
        <h1>Oops, We are maintaning!</h1>
        <p>This site is currently in maintenance mode. We are adding new features soon.</p>
    </body>
</html>
